<div>
  <label
    class='block mb-2 text-sm font-medium text-gray-300'
    for='document'
  >Document</label>
  <input
    class='block w-full text-sm text-gray-400 bg-gray-700 rounded-lg border border-gray-600 cursor-pointer focus:outline-none placeholder-gray-400'
    name='document'
    id='document'
    type='file'
  />
</div>