stages:
   - deploy
   - test
deploy:
  stage: deploy
  script:
    - chmod +x ./env.sh
    - chmod +x ./bot_env.sh
    - ./env.sh
    - source ./bot_env.sh
    - cd Eashire
    - npm install
    - pm2 restart ./bin/www
  only: 
    - main
test :
  stage: test
  script:
    - cd Eashire/cerberus
    - uname -a
    - ruby cerberus.rb --cerberus_host ${CERBERUS_HOSTS} --campaign ${CERBERUS_CAMPAIGN} --tag ${CERBERUS_TAG}_$(date +%Y%m%d%H%M%S) --envs PROD
