stages:
   - deploy
  #  - test
deploy:
  stage: deploy
  script:
    - chmod +x ./env.sh
    - chmod +x ./bot_env.sh
    - ./env.sh
    - source ./bot_env.sh
    - cd Eashire
    - npm install
    - pm2 restart ./bin/www
    - cd database
    - npm install
    - npx sequelize-cli db:seed --seed 20221223105116-ficheposte.js
    - npx sequelize-cli db:seed --seed 20230113092621-candidature.js
  only: 
    - main
# test :
#   stage: test
#   script:
#     - chmod +x ./cerberus.sh
#     - ./cerberus.sh
# bonjour
     
