stages:
   - deploy
   - test
deploy:
  stage: deploy
  script:
    - chmod 777 ./env.sh
    - chmod 777 ./bot_env.sh
    - ./env.sh
    - source ./bot_env.sh
    - cd Eashire
    - npm install
    - ls
    - pm2 restart ./bin/www
  only: 
    - main
test :
  stage: test
  script:
    - chmod +x ./cerberus.sh
    - ./cerberus.sh
