<div class="w-fit m-auto mt-4">
  <h1 class="text-5xl font-semibold">Bienvenue Florence sur Eashire </h1>
</div>
<div class="w-fit m-auto mt-16">
  {{>linkButton1 href='/auth/signin' title='Me connecter'}}
</div>
