<div class="flex flex-row">
  <div class="grow w-fit p-14">
    <div class="text-xl font-medium">
      Qu'allez vous retrouver ici :</br></br>
      <li>
        Vos documents administratifs
      </li>
      <li>
        De la documentation pour vous lancer dans votre nouveau poste
      </li>
      <li>
        Votre équipe qui sont vos collègues
      </li>
      <li>
        Les récapitulatifs de vos EAP
      </li>
      <li>
        Les ressources entreprises
      </li>
      <li>
        Le contact de votre Buddy
      </li>
      <li>
        Les pauses café
      </li>
    </div>
  </div>
</div>