<h2>Dossier de candidature</h2>

<p>Poste voulu : {{wanted_post}}</p>

<div class='flex justify-center gap-6 m-4'>
  <a
    href={{post_view_link}}
    class='flex items-center p-2 text-sm font-bold text-white bg-blue-700 rounded-lg hover:bg-blue-600 group hover:shadow'
  >
    <span class='flex-1 whitespace-nowrap'>Voir la fiche de poste</span>
  </a>
</div>