<div class="flex flex-col w-fit">
  <label for="day_candidature_filter" class="block mb-2 text-sm font-medium text-black dark:text-white m-auto">Jour</label>
  <select id="day_candidature_filter" name="day_candidature_filter" class="bg-white dark:bg-gray-700 border border-gray-600 placeholder-gray-400 text-black dark:text-white text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-1">
    <option selected>-</option>
    <option value="day_candidature_1">1</option>
    <option value="day_candidature_2">2</option>
    <option value="day_candidature_3">3</option>
    <option value="day_candidature_4">4</option>
    <option value="day_candidature_5">5</option>
    <option value="day_candidature_6">6</option>
    <option value="day_candidature_7">7</option>
    <option value="day_candidature_8">8</option>
    <option value="day_candidature_9">9</option>
    <option value="day_candidature_10">10</option>
    <option value="day_candidature_11">11</option>
    <option value="day_candidature_12">12</option>
    <option value="day_candidature_13">13</option>
    <option value="day_candidature_14">14</option>
    <option value="day_candidature_15">15</option>
    <option value="day_candidature_16">16</option>
    <option value="day_candidature_17">17</option>
    <option value="day_candidature_18">18</option>
    <option value="day_candidature_19">19</option>
    <option value="day_candidature_20">20</option>
    <option value="day_candidature_21">21</option>
    <option value="day_candidature_22">22</option>
    <option value="day_candidature_23">23</option>
    <option value="day_candidature_24">24</option>
    <option value="day_candidature_25">25</option>
    <option value="day_candidature_26">26</option>
    <option value="day_candidature_27">27</option>
    <option value="day_candidature_28">28</option>
  </select>
</div>