<label for="ficheposte_filter" class="block mb-2 text-sm font-medium text-black dark:text-white">Sélectionner une Fiche de poste</label>
<select id="ficheposte_filter" name="ficheposte_filter" class=" bg-white dark:bg-gray-700 border border-gray-600 placeholder-gray-400 text-black dark:text-white text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 mb-6">
  <option selected>-</option>
  {{#each ficheposte_list}}
    <option value={{this.value}}>{{this.label}}</option>
  {{/each}}
</select>