<div class="flex flex-col w-fit">
  <label for="month_candidature_filter" class="block mb-2 text-sm font-medium text-black dark:text-white m-auto">Mois</label>
  <select id="month_candidature_filter" name="month_candidature_filter" class="bg-white dark:bg-gray-700 border border-gray-600 placeholder-gray-400 text-black dark:text-white text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-1">
    <option selected>-</option>
    <option value="month_candidature_0">Janvier</option>
    <option value="month_candidature_1">Février</option>
    <option value="month_candidature_2">Mars</option>
    <option value="month_candidature_3">Avril</option>
    <option value="month_candidature_4">Mai</option>
    <option value="month_candidature_5">Juin</option>
    <option value="month_candidature_6">Juillet</option>
    <option value="month_candidature_7">Août</option>
    <option value="month_candidature_8">Septembre</option>
    <option value="month_candidature_9">Octobre</option>
    <option value="month_candidature_10">Novembre</option>
    <option value="month_candidature_11">Décembre</option>
  </select>
</div>