<div>
  <label for="name_filter" class="block mb-2 text-sm font-medium text-black dark:text-white">Nom / prénom</label>
  <div class="relative mb-6">
    <input type="text" id="name_filter" name="name_filter" class=" bg-white dark:bg-gray-700 border border-gray-600 text-black dark:text-white text-sm rounded-lg placeholder-gray-400 focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5" placeholder="Saisir un nom ou un prénom">
  </div>
</div>