<div class="flex flex-col w-fit">
  <label for="year_candidature_filter" class="block mb-2 text-sm font-medium text-white m-auto">Année</label>
  <select id="year_candidature_filter" name="year_candidature_filter" class="bg-gray-700 border border-gray-600 placeholder-gray-400 text-white text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-1">
    <option selected>-</option>
  </select>
</div>