<div class='dashboard-container'>
	<div class='workspace-container'></div>
	<div class='workspace-container'></div>

	<p class='text-white'>DASHBOARD</p>
	{{#ifEquals group 'RH'}}
		<p>RH</p>
	{{/ifEquals}}
	{{#ifEquals group 'MANAGER'}}
		<p>MANAGER</p>
	{{/ifEquals}}
	{{#ifEquals group 'FINANCE'}}
		<p>FINANCE</p>
	{{/ifEquals}}
	{{#ifEquals group 'DEFAULT'}}
		<p>DEFAULT</p>
	{{/ifEquals}}
</div>