<h1>postuler</h1>
<form action="/uploadFile/create" method="post" enctype='multipart/form-data'>
	<label for='titre'>titre</label>
	<input type='text' id='titre' name='titre' required />
    </br>
    <label for='description'>description</label>
	<input type='text' id='description' name='description' required />
    </br>
    <label for='tag'>tag</label>
	<input type='text' id='tag' name='tag' required value='administratif'/>
    </br>
    <label for='document'>Document</label>
    <input name='document' type='file' id='document' />
    </br>
	<input type='submit' value='importer' />
</form>