<div class='relative z-0 mb-6 w-full group'>
  <label
    class='block mb-2 text-sm font-medium text-gray-300'
    for='candidature_CV'
  >Votre CV</label>
  <input
    class='block w-full text-sm text-gray-400 bg-gray-700 rounded-lg border border-gray-600 cursor-pointer focus:outline-none placeholder-gray-400'
    id='candidature_CV'
    name='candidature_CV'
    type='file'
  />
</div>