<div class='relative z-0 mb-6 w-full group'>
  <input
    type='email'
    name='candidature_mail'
    id='candidature_mail'
    class='block py-2.5 px-0 w-full text-sm text-white bg-transparent border-0 border-b-2 border-gray-600 appearance-none focus:border-blue-500 focus:outline-none focus:ring-0 peer'
    placeholder=' '
    required=''
  />
  <label
    for='candidature_mail'
    class='peer-focus:font-medium absolute text-sm text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6'
  >Email</label>
</div>