{{#compare urgency "NON-URGENT" operator='=='}}
  <span
    class='inline-flex items-center justify-center px-2 py-0.5 ml-3 text-xs font-medium text-gray-500 bg-gray-200 rounded'
  >{{urgency}}</span>
{{/compare}}
{{#compare urgency "PEU-URGENT" operator='=='}}
  <span
    class='inline-flex items-center justify-center px-2 py-0.5 ml-3 text-xs font-medium text-gray-500 bg-orange-200 rounded'
  >{{urgency}}</span>
{{/compare}}
{{#compare urgency "URGENT" operator='=='}}
  <span
    class='inline-flex items-center justify-center px-2 py-0.5 ml-3 text-xs font-medium text-white bg-orange-400 rounded'
  >{{urgency}}</span>
{{/compare}}
{{#compare urgency "TRES-URGENT" operator='=='}}
  <span
    class='inline-flex items-center justify-center px-2 py-0.5 ml-3 text-xs font-medium text-white bg-orange-900 rounded'
  >{{urgency}}</span>
{{/compare}}
