<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="../../public/stylesheets/chat.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.0/socket.io.min.js"></script>
</head>
<body>
<div id="chat-icon" onclick="openChatWindow()">
    <svg width="90" height="90" viewBox="0 0 279 279" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M104.625 139.5H87.1875V122.063H104.625V139.5ZM174.375 139.5H156.938V122.063H174.375V139.5ZM244.125 122.063V156.938H226.688V200.531C226.688 204.164 226.006 207.57 224.644 210.749C223.282 213.927 221.42 216.697 219.059 219.059C216.697 221.42 213.927 223.282 210.749 224.644C207.57 226.006 204.164 226.688 200.531 226.688H164.566L104.625 277.91V226.688H61.0312C57.3984 226.688 53.9927 226.006 50.814 224.644C47.6353 223.282 44.8652 221.42 42.5039 219.059C40.1426 216.697 38.2808 213.927 36.9185 210.749C35.5562 207.57 34.875 204.164 34.875 200.531V156.938H17.4375V122.063H34.875V95.9064C34.875 92.2736 35.5562 88.8678 36.9185 85.6891C38.2808 82.5104 40.1426 79.7404 42.5039 77.379C44.8652 75.0177 47.6353 73.1559 50.814 71.7936C53.9927 70.4313 57.3984 69.7501 61.0312 69.7501H122.062V41.278C119.429 39.734 117.34 37.5997 115.796 34.8751C114.252 32.1505 113.435 29.2443 113.344 26.1564C113.344 23.7042 113.798 21.4337 114.706 19.3448C115.614 17.256 116.84 15.4396 118.384 13.8956C119.928 12.3517 121.79 11.0802 123.97 10.0812C126.149 9.08215 128.42 8.62805 130.781 8.71887C133.233 8.71887 135.504 9.17297 137.593 10.0812C139.682 10.9894 141.498 12.2155 143.042 13.7594C144.586 15.3033 145.857 17.1652 146.856 19.3448C147.855 21.5245 148.31 23.795 148.219 26.1564C148.219 29.2443 147.447 32.1505 145.903 34.8751C144.359 37.5997 142.225 39.734 139.5 41.278V69.7501H200.531C204.164 69.7501 207.57 70.4313 210.749 71.7936C213.927 73.1559 216.697 75.0177 219.059 77.379C221.42 79.7404 223.282 82.5104 224.644 85.6891C226.006 88.8678 226.688 92.2736 226.688 95.9064V122.063H244.125ZM209.25 95.9064C209.25 93.545 208.387 91.5016 206.662 89.776C204.936 88.0504 202.893 87.1876 200.531 87.1876H61.0312C58.6699 87.1876 56.6265 88.0504 54.9009 89.776C53.1753 91.5016 52.3125 93.545 52.3125 95.9064V200.531C52.3125 202.893 53.1753 204.936 54.9009 206.662C56.6265 208.387 58.6699 209.25 61.0312 209.25H122.062V240.038L158.027 209.25H200.531C202.893 209.25 204.936 208.387 206.662 206.662C208.387 204.936 209.25 202.893 209.25 200.531V95.9064ZM93.3179 158.845C98.313 163.84 104.035 167.654 110.483 170.288C116.931 172.922 123.697 174.284 130.781 174.375C137.865 174.375 144.631 173.058 151.08 170.424C157.528 167.791 163.25 163.931 168.245 158.845L180.505 171.242C173.875 177.872 166.292 182.958 157.755 186.5C149.218 190.042 140.227 191.813 130.781 191.813C121.427 191.813 112.481 190.042 103.944 186.5C95.4067 182.958 87.7778 177.872 81.0571 171.242L93.3179 158.845Z" fill="lightblue"/>
    </svg>
</div>

<div id="chat-window" style="display: none;">
    <button id="close-button" onclick="closeChatWindow()">X</button>

    <div id="messages"></div>
    <form id="chat-form" onsubmit="event.preventDefault(); sendMessage();">
        <div id="typing-indicator" style="display: none;">
            <div class="loader"></div>
            <small>Easy écrit...</small>
        </div>
        <input type="text" id="chat-input" placeholder="Tapez votre message ici...">
        <button type="submit">
            <svg width="29" height="20" viewBox="0 0 19 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M2.17591 0.16473C0.987907 -0.42927 -0.330093 0.70073 0.0769068 1.96573L2.93491 10.8487C2.9911 11.0234 3.09424 11.1792 3.23305 11.2991C3.37185 11.419 3.54098 11.4985 3.72191 11.5287L15.5909 13.5077C16.1479 13.6007 16.1479 14.4007 15.5909 14.4937L3.72291 16.4717C3.54179 16.5018 3.37246 16.5812 3.23346 16.7011C3.09447 16.8211 2.99117 16.977 2.93491 17.1517L0.0769068 26.0377C-0.330093 27.3027 0.986907 28.4327 2.17591 27.8387L27.1699 15.3437C28.2759 14.7907 28.2759 13.2137 27.1699 12.6597L2.17591 0.16473Z" fill="cornflowerblue"/>
            </svg>
        </button>
    </form>
</div>

<script>
    let socket = null;

    function openChatWindow() {
        document.getElementById('chat-window').style.display = 'block';
        if (!socket) connectToBackend(); // seulement connecter une fois
    }

    function closeChatWindow() {
        document.getElementById('chat-window').style.display = 'none';
    }

    function connectToBackend() {
        socket = io('http://eashire:3000'); // Assurez-vous que l'URL correspond à l'URL du backend
        socket.on('response', function(data) {
            console.log('Response received:', data);
            const messages = document.getElementById('messages');
            const messageElement = document.createElement('p');
            messageElement.textContent = data.response;
            messageElement.classList.add('message', 'server');
            messages.appendChild(messageElement);
            hideLoader();
        });
    }


    // function sendMessage() {
    //     const input = document.getElementById('chat-input');
    //     if(input.value.trim() === '') {
    //         console.log("Le message est vide. Il ne sera pas envoyé.");
    //         return;
    //     }
    //     socket.emit('message', input.value); // Envoyer simplement la chaîne de texte, pas un objet
    //     input.value = '';
    // }

    // function sendMessage() {
    //     const input = document.getElementById('chat-input');
    //     if(input.value.trim() === '') {
    //         console.log("Le message est vide. Il ne sera pas envoyé.");
    //         return;
    //     }
    //     addMessageToChat(input.value, 'user');
    //     socket.emit('message', input.value);
    //     input.value = '';
    // }

    function sendMessage() {
        const input = document.getElementById('chat-input');
        if(input.value.trim() === '') {
            console.log("Le message est vide. Il ne sera pas envoyé.");
            return;
        }
        const messages = document.getElementById('messages');
        const messageElement = document.createElement('p');
        messageElement.textContent = input.value;
        messageElement.classList.add('message', 'user');
        messages.appendChild(messageElement);

        showLoader();
        socket.emit('message', input.value);
        input.value = '';
    }
    function addMessageToChat(message, sender) {
        const messages = document.getElementById('messages');
        const messageElement = document.createElement('p');
        messageElement.textContent = message;
        messageElement.className = sender;
        messages.appendChild(messageElement);
    }

    function showLoader() {
        document.getElementById('typing-indicator').style.display = 'block';
    }

    function hideLoader() {
        document.getElementById('typing-indicator').style.display = 'none';
    }

</script>

</body>
</html>
