<div id="sidebar" class="flex-none flex flex-col h-full relative truncate w-14 h-full bg-slate-500 dark:bg-slate-800 transition-all duration-300 overflow-hidden">
  <button id="toggle-button" class="p-4 duration-300 w-14">
    {{>chevron-right-outline}}
  </button>
  <ul class='space-y-2 mx-2'>
    {{#if rh}}
      {{>WorkspaceItem href="/ficheposte/list" text='Fiches de poste' notif_number=(lookup . 'notifNumber') svg='clipboard-document-check-solid'}}
    {{else}}
      {{#if manager}}
        {{>WorkspaceItem href="/ficheposte/list" text='Fiches de poste' notif_number=(lookup . 'notifNumber') svg='clipboard-document-check-solid'}}
      {{else}}
        {{#if finance}}
          {{>WorkspaceItem href="/ficheposte/list" text='Fiches de poste' notif_number=(lookup . 'notifNumber') svg='clipboard-document-check-solid'}}
        {{/if}}
      {{/if}}
    {{/if}}
    
    {{#if rh}}
      {{>WorkspaceItem href="/candidature/list" text="Candidatures" notif_number='0' svg='academic-cap-solid'}}
    {{else}}
      {{#if manager}}
        {{>WorkspaceItem href="/candidature/list" text="Candidatures" notif_number='0' svg='academic-cap-solid'}}
      {{else}}
        {{#if it}}
          {{>WorkspaceItem href="/candidature/list" text="Candidatures" notif_number='0' svg='academic-cap-solid'}}
        {{/if}}
      {{/if}}
    {{/if}}

    {{#if it}}
      {{>WorkspaceItem href="/accountcreationdemand/list" text="Demandes de création de compte" notif_number='0' svg='document-plus-solid'}}
    {{/if}}

    {{>WorkspaceItem href="/listUser" text="Mon équipe" notif_number='0' svg='user-group-solid'}}

    {{>WorkspaceItem href="/uploadFile" text="Mes ressources d'entreprise" notif_number='0' svg='archive-box-solid'}}
  </ul>
</div>