<div class="basis-1/3 rounded-md bg-indigo-500 shadow-lg shadow-indigo-500/50 flex flex-col gap-6">
  <div class="w-1/5 h-1/5 mx-auto flex">
    <a href="/calendar" class="w-fit m-auto">
      <button class="group relative h-fit p-2 rounded-full bg-indigo-700 drop-shadow-lg shadow-indigo-900">
        {{> calendar-day-solid class='h-10 w-10 fill-cyan-900 group-hover:h-12 group-hover:w-12'}}
      </button>
    </a>
  </div>
</div>