<div class="basis-1/3 rounded-md bg-cyan-500 shadow-lg shadow-cyan-500/50 flex flex-col-reverse gap-6 justify-center items-center">
  <p class="relative md:text-xl md:font-bold">Workspace</p>
  <a href='/workspace/workspace' class="h-fit">
    <button class="group relative h-fit p-2 rounded-full bg-cyan-700 drop-shadow-lg shadow-cyan-900">
      {{> clipboard-document-check-solid class="h-10 w-10 fill-cyan-900 group-hover:h-12 group-hover:w-12"}}
    </button>
  </a>
</div>