{{! URGENCY MODIFIER }}
<div
	id='modifier-urgency'
	class='self-center z-10 absolute rounded bg-slate-700 p-6 drop-shadow-lg flex flex-col items-center justify-center'
>
	<div class='relative mb-6'>
		<div
			class='flex absolute inset-y-0 left-0 pl-3 items-center pointer-events-none'
		>
			<svg
				xmlns='http://www.w3.org/2000/svg'
				class='w-5 h-5 text-gray-400'
				viewBox='0 0 20 20'
				fill='currentColor'
			>
				<path
					fill-rule='evenodd'
					d='M6.267 3.455a3.066 3.066 0 001.745-.723 3.066 3.066 0 013.976 0 3.066 3.066 0 001.745.723 3.066 3.066 0 012.812 2.812c.051.643.304 1.254.723 1.745a3.066 3.066 0 010 3.976 3.066 3.066 0 00-.723 1.745 3.066 3.066 0 01-2.812 2.812 3.066 3.066 0 00-1.745.723 3.066 3.066 0 01-3.976 0 3.066 3.066 0 00-1.745-.723 3.066 3.066 0 01-2.812-2.812 3.066 3.066 0 00-.723-1.745 3.066 3.066 0 010-3.976 3.066 3.066 0 00.723-1.745 3.066 3.066 0 012.812-2.812zm7.44 5.252a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z'
					clip-rule='evenodd'
				></path>
			</svg>
		</div>
		<form
			action={{updateLink}}
			method='post'
			id='form-update-urgency'
			class='h-fit m-0 w-fit'
		>
			<select
				id='input_update_urgency'
				name='input_update_urgency'
				class='border text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5 bg-gray-700 border-gray-600 text-white'
			>
				<option value='NON-URGENT'>NON-URGENT</option>
				<option value='PEU-URGENT'>PEU-URGENT</option>
				<option value='URGENT'>URGENT</option>
				<option value='TRES-URGENT'>TRES-URGENT</option>
			</select>
		</form>

	</div>
	<div class='grow flex justify-center gap-2'>
		<a
			class='update-button flex items-center p-2 text-base font-bold text-white bg-lime-700 rounded-lg hover:bg-lime-600 group hover:shadow hover:cursor-pointer'
		>
			<span class='flex-1 whitespace-nowrap'>Modifier</span>
		</a>
		<a
			class='cancel-button flex items-center p-2 text-base font-bold text-white bg-red-700 rounded-lg hover:bg-red-600 group hover:shadow hover:cursor-pointer'
		>
			<span class='flex-1 whitespace-nowrap'>Annuler</span>
		</a>
	</div>
</div>