<div class='relative z-0 mb-6 mt-6 w-full group'>
  <label for="fichePoste_experience" class="block mb-2 text-sm font-medium text-gray-700 dark:text-gray-400">Experience</label>
  <textarea id="fichePoste_experience" name="fichePoste_experience" rows="5" cols="33" class="block p-2.5 w-full text-sm text-black dark:text-white dark:bg-gray-700 rounded-lg border dark:border-gray-600 focus:ring-blue-500 focus:border-blue-500 placeholder-gray-400" placeholder="Ecrivez ici l'experience demandée.."></textarea>
</div>
