<div class='relative z-0 mb-6 mt-6 w-full group'>
  <label for='fichePoste_type' class="block mb-2 text-sm font-medium text-gray-400">Type d'emploi</label>
  <select name='fichePoste_type' id='fichePoste_type' class="bg-gray-700 border border-gray-600 text-white text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 placeholder-gray-400">
    <option value='prestation'>Prestation</option>
    <option value='cdi'>CDI</option>
    <option value='cdd'>CDD</option>
    <option value='alternance'>Alternance</option>
    <option value='stage'>Stage</option>
  </select>
</div>