<div class='relative z-0 mb-6 mt-6 w-full group'>
  <label for='fichePoste_urgency' class="block mb-2 text-sm font-medium text-gray-400">Niveau d'urgence</label>
  <select name='fichePoste_urgency' id='fichePoste_urgency' class="bg-gray-700 border border-gray-600 text-white text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 placeholder-gray-400">
    <option value='NON-URGENT'>NON-URGENT</option>
    <option value='PEU-URGENT'>PEU-URGENT</option>
    <option value='URGENT'>URGENT</option>
    <option value='TRES-URGENT'>TRES-URGENT</option>
  </select>
</div>