<div class="flex flex-col w-fit">
  <label for="day_filter" class="block mb-2 text-sm font-medium text-white m-auto">Jour</label>
  <select id="day_filter" name="day_filter" class="bg-gray-700 border border-gray-600 placeholder-gray-400 text-white text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-1">
    <option selected>-</option>
    <option value="day_1">1</option>
    <option value="day_2">2</option>
    <option value="day_3">3</option>
    <option value="day_4">4</option>
    <option value="day_5">5</option>
    <option value="day_6">6</option>
    <option value="day_7">7</option>
    <option value="day_8">8</option>
    <option value="day_9">9</option>
    <option value="day_10">10</option>
    <option value="day_11">11</option>
    <option value="day_12">12</option>
    <option value="day_13">13</option>
    <option value="day_14">14</option>
    <option value="day_15">15</option>
    <option value="day_16">16</option>
    <option value="day_17">17</option>
    <option value="day_18">18</option>
    <option value="day_19">19</option>
    <option value="day_20">20</option>
    <option value="day_21">21</option>
    <option value="day_22">22</option>
    <option value="day_23">23</option>
    <option value="day_24">24</option>
    <option value="day_25">25</option>
    <option value="day_26">26</option>
    <option value="day_27">27</option>
    <option value="day_28">28</option>
  </select>
</div>