<div>
  <label for="label_filter" class="block mb-2 text-sm font-medium text-white">Label du poste</label>
  <div class="relative mb-6">
    <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
      {{> check-badge-solid class="w-5 h-5 text-gray-500 dark:text-gray-400"}}
    </div>
    <input type="text" id="label_filter" name="label_filter" class="bg-gray-700 border border-gray-600 text-white text-sm rounded-lg placeholder-gray-400 focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5" placeholder="Label du poste">
  </div>
</div>