<label for="owner_filter" class="block mb-2 text-sm font-medium text-white">Propriétaire</label>
<select id="owner_filter" name="owner_filter" class="bg-gray-700 border border-gray-600 placeholder-gray-400 text-white text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 mb-6">
  <option selected>Aucun</option>
  <option value="owner_me">Moi uniquement</option>
  <option value="owner_all">Tous</option>
</select>