<div class="m-4 flex">
	<div class="m-4">
		{{>returnButton route="/dashboard"}}
	</div>
	<div class="grow w-fit m-auto">
		{{>PageHeader header_text="Liste des candidatures"}}
		<div class='relative top-6 flex justify-center'>
			{{>CandidatureListUl candidature_list=candidatureList}}
		</div>
	</div>
</div>