
<button
  type='submit'
  class='text-white bg-red-600 hover:bg-red-700 focus:ring-4 focus:outline-none focus:ring-red-800 font-light rounded-lg text-xs w-full sm:w-auto px-5 py-2.5 text-center'
>
  {{button_text}}
</button>